@import '../../../scss/variables.scss';

.page {
	&:host {
		display: block;
		height: auto;
		min-height: 100%;
		padding-top: 50px;
	}
}

@media screen and (max-width: 1200px) {
	.page{
		&:host{
			padding-top: 0;
		}
	}
}
